<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | DCSistem</title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-export-pdf.css' %}" rel="stylesheet">

  </head>
    <!-- Cabecera -->
    {% block headers %}
    {% endblock %}
  <body>
    {% block content %}
    {% endblock %}

  </body>

</html>
