{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nueva Consulta{% endblock %}
{% block content %}
{% include 'core/includes/sub_menu.html' with mensaje='consultamedica_add' %}
<main role="main">
  <div class="datatable-container form-container" style="font-size: 75%;">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post" id="consulta-medica-form">{% csrf_token %}
              {% for field in form %}
                  <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                      {% if field.errors %}
                          <div class="errorlist">
                              {% for error in field.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                          </div>
                      {% endif %}
                  </div>
              {% endfor %}

              <div class="text-center form-submit">
                  <input type="submit" class="btn btn-primary btn-block" value="Agregar nueva consulta - al aceptar se diridirá a registrar la posologia" style="margin-top: 20px;"/>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
    document.getElementById('consulta-medica-form').addEventListener('submit', function() {
        const pacienteField = document.getElementById('id_paciente');
        if (pacienteField) {
            pacienteField.disabled = false;
        }
    });
</script>
{% endblock %}
